# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_KEY=

# Cloudinary (Media Library)
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_API_KEY=
VITE_CLOUDINARY_API_SECRET=
VITE_CLOUDINARY_UPLOAD_PRESET=

# DeepL (Server-side secret)
DEEPL_API_KEY=
